@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Fuzzy+Bubbles:wght@400;700&family=Montserrat:ital,wght@1,197&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700;900&display=swap");

.contain {
  width: 100%;
  background-color: #fff;
}


.p-header {
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: medium;
  color: rgb(0, 0, 0);
  padding: 2rem 0;
  /* border-bottom: 3px solid rgb(245, 144, 77); */
  /* position: relative; */
  text-align: center;
  /* margin: 1rem auto; */
  
}

.para{
  width: 100%;
  margin: 2rem auto;
}

.txt-box {
  width: 80%;
  margin: 1rem auto;
  position: relative;
  margin-bottom: 2rem;
  background: rgb(216, 219, 228);
  border-radius: 10px;
  box-shadow: 2px 3px 2px 3px rgb(158, 164, 177);
}

.para p {
  position: relative;
  color: lightseagreen;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: small;
  padding: 25px;
  word-spacing: 1px;
}
