@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Fuzzy+Bubbles:wght@400;700&family=Montserrat:ital,wght@1,197&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700;900&display=swap");

.contain {
  width: 100%;
  background-color: #fff;
}


.p__header {
  font-family: Arial, Helvetica, sans-serif;
  color: lightseagreen;
  border-bottom: 3px solid rgb(72, 78, 80);;
  /* position: relative; */
  text-align: center;
  /* margin: 1rem auto; */

  
}

.para{
  width: 80%;
  margin: 2rem auto;
}

.txt-box {
  width: 80%;
  margin: 1rem auto;
  position: relative;
  margin-bottom: 2.5rem;
  background: rgb(187, 228, 226);
  border-radius: 10px;
  box-shadow: 2px 3px 2px 3px rgb(158, 164, 177);
}

.para p {
  position: relative;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  padding: 25px;
  word-spacing: 1px;
}
