.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;

}
.searchInputs {
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #b4becb;
    border-radius: 15px;
    height: 50px;
    width: 23rem;
    overflow: hidden;
}

.search input {
    
    font-size: 18px;
    padding: 10px 1rem;
    height: 100%;
    width: 100%;
    position: relative;
    border: none;
}

.search input:focus {
    outline: none;
    
}

.search .searchInputs:focus-within{
    border: 2px solid lightseagreen;
    
}

.searchIcon {
    font-size: 1.5rem;
    background: rgb(240, 248, 248);
    height: 100%;
    position: relative;
    color: lightseagreen !important;
    outline: none;
    border: none;
    padding: 10px 1rem;
}

.searchIcon:hover {
    cursor: pointer;
}

.search input::placeholder {
    color: #b4becb;
    font-size: 1rem;
}
.iconLink {
    text-decoration: none;
    background: none;
}

@media screen and (max-width: 500px) {
    .searchInputs {
        height: 40px;
        width: 19rem;
    }
} 