@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Fuzzy+Bubbles:wght@400;700&family=Montserrat:ital,wght@1,197&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: fit-content;
}

.container-h {
  width: 100%;
}

.content {
width: 100%; 
}

.modal-box{
    width: 30%;
    border: .5px solid #b4becb;
    background: #f4f4f4;
    border-radius: 5px;
    margin: 1rem auto;
    text-align: center;
    padding: 10px;
    position: relative;
}

.content h1, p {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 1rem;
    
}

p{
    padding: 2px;
}

h3 {
    font-family: sans-serif;
    padding: 3px;
    color: #333;
    font-size: 1.4rem;
}

.pages_btns {
    color: #fff;
    background-color: lightseagreen;
    font-size: 0.8rem;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 2px;
    margin: 2px;
    width: 80px;
    height: 30px;
    border-color: currentColor;
    border-radius: 6px;
    padding: 2px;
    margin: 15px;
}


.pages_btns:hover {
    cursor: pointer;
    color: black;
    transition: 0.5s;
    font-size: 0.9rem;
    width: 90px;
}

@media (max-width: 480px) {
    
}