@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

 body{
  width: 100%;
  height: 100vh;
}

.navbar {
  background: lightseagreen;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 70px;
}

.nav_bar{
  background: lightseagreen;
  height: 100vh;
  width: 300px;
  position: relative;
  padding: 2rem 0;
  z-index: 9999;
  display: none;
} 

  .nav_bar .nav__mobile{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items:center;
  list-style-type: none;
}

.nav_bar .nav__mobile li{
   padding: 1rem 0;
   margin-top: 2rem;
   
}

.nav_bar .nav__mobile .links{
  color: white;
  font-size: 1rem;
  font-weight: normal;
} 

.nav__list i.fab{
  color: white;
  font-size: 2.2rem;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 80%;
  padding: 1rem;
  margin: 0 auto;
}

.nav__list .nav__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav__links li{ 
  list-style-type: none;
}
.nav_bar .nav__links li{ 
  list-style-type: none;
}

.links {
  padding: 1rem;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  
}
.nav_bar .link {
  padding: 1rem;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  
}

.toggle_menu{
  background: #b4becb;
  border: .5px solid white;
  border-radius: 3px;
  outline: none;
  display: none;
  text-align: center;
  padding: 4px 9px;
  transition: all .3s ease;
  color: white;
  font-size: 1.2rem;
  
}

.toggle_menu:hover{
  transform: scale(.98);
  cursor: pointer;
  border: #b4becb;
} 

/* MEDIA QUERY FOR NAVIGATION MENU */
@media only screen and (max-width: 680px){


  .navbar {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }

  .nav__list .nav__links .links {
    display: none;
  }

  .nav_bar .nav__mobile .link {
    display: block;
  }

  .nav__links{
    display: none;
  }
  
  .nav_bar{
    display: block;
    
  }


  .toggle_menu{
    display: block;
  }
}